
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .bottom {
            background-image: linear-gradient(45deg, white, blanchedalmond);
            height: 100vh;
            color: lightslategray;
            display: flex;
            justify-content: center;
        }
        .main {
            position: absolute;
            background-color: lightsalmon;
            color: aliceblue;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            border-bottom: 6px solid lightslategray;
            border-right: 6px solid lightslategray;
        }
        .button {
            width: 40px;
            height: 40px;
            background-color: lightslategray;
            font-size: 20px;
            color: aliceblue;
            cursor: pointer;
            border-radius: 5px;
            margin: 5px; 
            border-bottom: 1px solid lightslategray;
            border-right: 1px solid lightslategray;
        }
        .button:hover {
            background-color: lightgray;
        }
        .DarkModeDiv{
            width: 75px;
            height: 50px;
            position: absolute;
            background-color: mediumorchid;
            top: 40%;
            left: 75%;
            transform: translate(-40%, -75%);
            border-radius: 10px;
            color: aliceblue; 
            border-bottom: 4px solid lightslategray;
            border-right: 4px solid lightslategray;
        }
        .DarkModeButton{  
            width: 65px;
            height: 40px;
            background-color: mediumorchid;
            color: aliceblue;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        } 
        .DarkModeButton:hover {
            background-color: blueviolet;
        }
        .dark-mode .bottom {
            background-image: linear-gradient(45deg, plum, black);
            color: lightgreen;
        }
        
        .dark-mode .main {
            background-color: lightgreen;
            border-bottom: 6px solid lightslategray;
            border-right: 6px solid lightslategray;
        }
        #result {
            background-color: lightslategray;
            color: aliceblue;
            width: 207px;
            height: 30px;
            border-radius: 5px;
            margin: 5px auto; 
            text-align: right;
            padding: 5px;
            overflow: hidden;
        }
        table {
            margin: 5px auto; 
        }
        td {
            text-align: center;
        }